<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href='http://fonts.googleapis.com/css?family=Headland+One|Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/pygments.css"/>
	<link rel="stylesheet" href="/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/screen.css"/>
	<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("jquery", 1);
	</script>-->
</head>
<body>
	<header class="banner">
		<h1><a href="/" title="home">Digits By Me</a></h1>
		<p>Dylan Does Digits, or just a place to save ideas so I don&rsquo;t have to learn them again.</p>
	</header>
	<div class="grid">
		<section class="main-content col-2-3">
	{{ content }}
		</section>
		<aside class="sidebar col-1-3">
			<section class="module">
				{% include tag-list.html %}
			</section>
		</aside>
	</div> <!-- grid -->
	<footer class="about grid">
		<ul class="post-meta">
			<li class="icon-twitter"><a href="https://twitter.com/dvhthomas" title="Twitter profile for Dylan Thomas">dvhthomas</a></li>
			<li class="icon-linkedin"><a href="http://www.linkedin.com/pub/dylan-thomas/1/94a/497" title="LinkedIn profile">Linked In</a></li>
		</ul>
	</footer>
</body>
</html>
