---
layout: default
---
<article class="module post" itemscope="" itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 class="post-title" itemprop="name"><i class="icon-bookmark"></i>{{ page.title }}</h1>
		<p class="post-abstract" itemprop="headline">{{ page.abstract }}</p>
	</header>
	<div itemprop="articleBody">
{{ content }}
	</div>
<footer>
		<ul class="post-meta">
			<li class="icon-calendar">
				<span datetime="{{post.date | date_to_xmlschema}}" itemprop="datePublished">{{ page.date | date_to_long_string }}</span>
			</li>
			<li class="icon-paper-clip"><a href="{{ page.url }}" title="permalink">permalink</a></li>
			<li class="icon-tags">{{ page.tags | array_to_sentence_string }}</li>
		</ul>
</footer>
</article>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'digitsbyme'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
