---
layout: default
---
<article class="module post">
	<header>
		<h1 class="post-title"><i class="icon-bookmark"></i>{{ page.title }}</h1>
		<p class="post-abstract">{{ page.abstract }}</p>
	</header>
{{ content }}
<footer>
		<ul class="post-meta">
			<li class="icon-calendar">{{ page.date | date_to_long_string }}</li>
			<li class="icon-paper-clip"><a href="{{ page.url }}" title="permalink">permalink</a></li>
			<li class="icon-tags">{{ page.tags | array_to_sentence_string }}</li>
		</ul>
</footer>
</article>